<!DOCTYPE html>
<html>
    <head>
        <title>Quizlet - Choose Category</title>
        <link rel = "stylesheet" href = "static/category.css">
    </head>
    <body>
        <div class = "choosebody">
            <div class = "choose">
                <h1>Choose Category</h1>
                <p>Each category has ten questions each</p>
                <a href = "{%url 'geo'%}">
                    <button>Geography</button>
                </a>
                
                <a href = "{%url 'science'%}">
                    <button>Science</button>
                </a>

                <a href = "{%url 'animals'%}">
                    <button>Animals</button>
                </a>
                
                
            </div>
        </div>
        
    </body>
</html>